@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Merienda';
    margin: 0;
    padding: 0;
}

html {
    /*me permitira deslizar cuando haga click en el link*/
    scroll-behavior: smooth;
}

/*Menu*/

.contenedor-header {
    background-color: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #1cb698;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15 px;
    padding: 10px;
    transition: .5s;
    text-decoration: none;

}

.contenedor-header header nav ul li a:hover {
    color: #1Cb698 !important;
}

.nav-responsive {
    background-color: #1Cb698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/*Seccion responsive -----------------------------------------*/
@media screen and (max-width: 768px) {
    .nav-responsive {
        display: block;
    }

    nav {
        display: none;
    }

    nav.responsive {
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #1e2326;
        width: 200px;
        text-align: center;
    }

    nav.responsive ul {
        display: block !important;
        padding: 0;
    }

    nav.responsive ul li {
        margin: 10px 0;
        border-bottom: 1px solid #fff;
    }
}
@media screen and (max-width:700px) {
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }
    .skills .fila{
        display: block;

    }
    .skills .fila .col{
        width: 100%;
    }

    .skills .fila .col .barra-skill{
        width: 100%;
    }
}


/*Seccion i n i c i o*/
.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, 0.8), rgba(30, 35, 38, 1)),
        url("../img/fnd.jpg") ; 

    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}


.inicio .contenido-banner img {
    margin-top: 40px;
    border: 10px solid #1cb698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin: 40px;
    font-size: 42px;
    font-family:'Righteous';
  
}
.inicio .contenido-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: 0.3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #1Cb698;
}


/*sobre mi---------------------------------------------------------------------------*/
.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: 'Righteous', sans-serif; 
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p {
    font-size: 18px; 
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
    color: #1cb698;
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous', sans-serif; 
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;   
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
display: inline-block;
color: #1Cb698;
width: 130px; 
}
.sobremi .fila .col ul li span{
    background-color: #1Cb698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease; 
}

.sobremi .fila .col .contenedor-intereses .interes:hover {
    background-color: #1cb698; 
    transform: scale(1.1); 
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color:  #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1Cb698;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay{
    width: 100%;
}
/*SECCION DE SKILLS*/

.skills {
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous', sans-serif; 
    text-align: center;
    padding: 20px 0;
}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous', sans-serif; 
    margin-bottom: 25px;
}
.skills .skill > span{
font-weight: bold;
display: block;
margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%0;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #1Cb698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;

}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color:#1Cb698 ;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px ;
    right: -15px;
    font-size: 14px;
}
/*Esta clase la agregue dinamicamente con javascript */

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width:40% ;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 80% ;}
}


.skills .skill .csharp{
    width: 0%;
    animation: 2s csharp forwards;
}
@keyframes csharp {
    0%{width: 0%;}
    100%{width: 60% ;}
}
.skills .skill .python{
    width: 0%;
    animation: 2s python forwards;
}
@keyframes python {
    0%{width: 0%;}
    100%{width: 50% ;}
}
.skills .skill .sql{
    width: 0%;
    animation: 2s sql forwards;
}
@keyframes sql {
    0%{width: 0%;}
    100%{width: 75% ;}
}
/*Habilidades*/

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 95% ;}
}

.skills .skill .trabajoenequipo{
    width: 0%;
    animation: 2s trabajoenequipo forwards;
}
@keyframes trabajoenequipo {
    0%{width: 0%;}
    100%{width: 90% ;}
}
.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 75% ;}
}
.skills .skill .liderazgo{
    width: 0%;
    animation: 2s liderazgo forwards;
}
@keyframes liderazgo {
    0%{width: 0%;}
    100%{width: 95% ;}
}
.skills .skill .resoluciondeproblemas{
    width: 0%;
    animation: 2s resoluciondeproblemas forwards;
}
@keyframes resoluciondeproblemas {
    0%{width: 0%;}
    100%{width: 85% ;}
}




/*Seccion Curriculum*/
.curriculum {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Righteous', sans-serif; 
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {  /* Corrección aquí */
    width: 49%;  
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous', sans-serif; /* Se mantiene */
    margin-bottom: 25px; 
}

.curriculum .fila .izquierda {
    border-right: 2px solid #252a2e;
}
.curriculum .fila .derecha {
    border-left: 2px solid #252a2e;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252a2e;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #1Cb698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
display: block;
color: #1Cb698;
margin-bottom: 10px;
}
.curriculum .fila .item p{
   line-height: 24px; 
}
.curriculum .fila .izq{
    border-right:solid #1Cb698;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: solid #1Cb698;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #1Cb698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;

}
.curriculum .fila .item .conectori .circuloi{
display: block;
height: 10px;
width: 10px;
border-radius: 50%;
background-color: #1Cb698;
float: right;
position: relative;
bottom: 4px;
}
.curriculum .fila .item .conectord {
    height: 2px;
    background-color: #1Cb698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1Cb698;
    position: relative;
    bottom: 4px;
   
}

/*Seccion portafolio*/
.portafolio {
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}

.portafolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portafolio h2 {
    font-size: 48px;
    font-family: 'Righteous', sans-serif; 
    text-align: center;
    padding: 20px 0;
}
.portafolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}

.portafolio .galeria .proyecto {
    width: calc(33.33% - 20px); 
    max-width: 300px; 
}

.portafolio {
    display: flex;
    justify-content: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    max-width: 1000px; 
    margin: auto; 
    padding: 20px;
}


.proyecto {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}

.proyecto img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
    border-radius: 10px;
}

.proyecto:hover img {
    transform: scale(1.05); 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 10px;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    font-size: 18px;
    font-weight: bold;
}

.overlay p {
    font-size: 14px;
}
/*LENGUAJE JAVASCPRIT QUE ME PERMITIRA QUE SEA RESPONSIVE EN PANTALLAS PEQUEÑAS*/
@media (max-width: 900px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
    }
}

@media (max-width: 600px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr); /* 1 columna en celulares */
    }
}


/*Seccion de contacto*/

.contacto{
    background-color: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous', sans-serif; 
    text-align: center;
    padding: 20px 0; 
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color: #fff;
    font-size: 1;
}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color:  #fff;
    position: relative;
    z-index: 10;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;  
    overflow: hidden;   
    transition: color 0.3s ease-in-out;
}


.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    height: 100%;
    background-color: #1Cb698;
    transition: width 0.5s ease-in-out; 
    z-index: 0; 
}


.contacto button:hover .overlay {
    width: 100%; 
}


.contacto button:hover {
    color: #1Cb698; 
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info ul{
    list-style: none;

}
.contacto .col .info ul li{
    margin-bottom: 20px;

}
.contacto .col .info ul li i{
    color: #1Cb698;
    display: inline-block;
    margin: right 20px; ;
}

footer{
    background-color: #252a2e;
    color:#fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;

}

footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: 0.3s;

}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1Cb698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/*Seccion responsive*/